:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: aliceblue;
  border-radius: 5px;
  height: auto;
  margin-bottom: 30px;
  overflow: hidden;
}
#logo-text {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: white;
  padding: 1rem;
  font-size: 2.6rem;
  border-radius: 10px;
  border: 2px solid goldenrod;
  font-family: cursive;
}
.main-section {
  display: flex;
  justify-content: center;
}
.job-listing {
  display: flex;
  width: 500px;
  height: 100px;
  background-color: aliceblue;
  border-radius: 10px;
  justify-content: center;
}
#contact {
  font-family: monospace;
  font-size: 22px;
}
